/* hold for css styling */
/*card styling*/
body
{
    background: #cfd8dc;
}

.container
{
    font-family: 'Didot', serif;
    font-size: 20px;
    font-weight: regular;

    width: 400px;
    height: 550px;
    margin: 80px auto;

    border-radius: 10px;

    perspective: 1400px;
}

.card
{
    position: relative;

    height:400px;

    border-radius: 10px;

    width: 600px;
    transform-style: preserve-3d;
}

.front,
.back
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front
{
    color: #ffff;
    background: #2196f3;
    
}

.back
{

    transform: rotateY(180deg);

    color: #c1abad;
    background: #fff;
}

.dropdown {
    background-color: rgb(184, 104, 160);
    color: white;
    padding: 1%;
    padding-top: 0px;
    border: none;
    text-align: center;
  }
  
  .dropdown>select, input {
    font-size: 15px;
    font-family: 'Didot', serif;
  }