body {
  background: #eddedb;
  margin: 0;
}


.logo img {
  width: 100vw;
  height: 33vh;
  object-fit: cover;
  overflow: hidden;
}


.container {
  font-family: 'Didot';
  font-size: 20px;
  font-weight: regular;
  width: 100vw;
  perspective: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(43, 41, 42, 0.568);
  width: 400px;
  height: 250px;
  transform-style: preserve-3d;
  margin: 20px;
  transition: all 0.2s ease;
}

.card:hover {
  box-shadow: 4px 4px 8px #61524f;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: medium;
  border-radius: 10px;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  overflow: hidden;
  color: #ffff;   
}

.front img {
  width: 100%
}

.back {
  transform: rotateY(180deg);
  color: #c1abad;
  background: #fff;
  overflow: scroll;
  display: inline-block;
}

.delete {
  margin-right: 3px;
  margin-top: 5%;
  position: relative;
  display: center;
  left: 15%;
  color: white;
  background: rgb(109, 74, 74);
  border-radius: 5px;
  font-family: 'Didot';
  padding: 3px 
}

.view {
  width: 27%;
  position: relative;
  margin-top: -7.5%;
  display: center;
  left: 50%;
  color: white;
  background: rgb(109, 74, 74);
  border-radius: 5px;
  font-family: 'Didot';
  padding: 3px 
}

.diet-btn {
  background-color: #cc9b92;
  color: #4d241c;
  border: none;
  box-shadow: 1px 1px 1px rgba(110, 80, 62, 0.568);
  border-radius: 5px;
  height: 34px;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 20%;
  margin-right: 4px;
}

.diet-btn:hover {
  box-shadow: 2.5px 2.5px 4px #61524f;
}

.diet-btns-container {
  /* background: red; */
  position: relative;
  width: 255px;
  margin-top: -14%;
  margin-left: 9%; 
}

.diet-done-tagging-btn {
  position: absolute;
  top: 60%;
  left: 109.5%;
  background-color: #4d241c;
  color: rgb(250, 231, 231);
  border: none;
  box-shadow: 1px 1px 1px rgba(110, 80, 62, 0.568);
  border-radius: 5px;
  height: 34px;
  padding-left: 1%;
  padding-right: 1%;
  /* margin-top: 20%; */
  margin-right: 10%;
}

.diet-names {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Didot', serif;
  background-color: #d4bab0  
}

.dropdown {
  background-color: #bf978f;
  color: white;
  padding: 0px;
  padding-top: 0px;
  border: none;
  text-align: center;
  position: relative;
  height: 34px;
  /* top: 20%;
  left: 60%; */
  }
  
.dropdown>select, input {
  font-size: 20px;
  font-family: 'Didot', serif;
  color: white; 
  border: none;
  }


/* ONLY BACK CARD BELOW */

.recipe-name-backCard {
  margin-top: 4%;
}

.ingred-title-backCard {
  margin-top: 3%;
}

.li-backCard {
  margin-left: 10%;
  margin-right: 8%;
}

.instructions-backCard {
  margin-right: 8%;
}


/* ONLY MODAL BELOW */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: none;
  
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  
  background: white;
  box-shadow: 0 0 70px 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;

}

.model.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  /* background: #c1abad; */
  /* background: #c49b9d; */
  background: rgb(233, 203, 203);
  color: white;
  border-radius: 5px;
}

.closed {
  display: inline;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 130%;
  height: 150%;
  overflow: auto;
  padding: 20px 20px 20px 20px;
  background: rgb(233, 203, 203);
  border-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px 0 10px 30px;
}

li, p {
  margin: 0 0 10px 0;
}

h1 {
  margin: 0 0 20px 0;
}

.modal .close-button {
  position: absolute;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  top: 10px;
  
  /* needs to look OK with or without scrollbar */
  right: 20px;
  border: 0;
  border-radius: 5px;
  background: rgb(109, 74, 74);
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.open-button {
  border: 0;
  position: absolute;
  font-family: 'Didot';
  top: 50%;
  left: 15%;
  transform: translate(0%, -50%);
  background: #bf978f00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;  
}

.form-group {
  color: white;
  font-size: 20px;
}

input, textarea {
  color: #503b3c;
  border-radius: 5px;
  padding: 3px 7px;
  font-size: 18px;
  /* width: 75%; */
  width: 80%;
}

::placeholder {
  color: rgb(173, 169, 169);
  font-family: 'Didot';
}

/* Create-recipe modal */
.modal .modal-submit-btn {
  color: white;
  background: rgb(109, 74, 74);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-family: 'Didot';
  height: 90%;
}

#recipe-form {
  padding: 5px 15px;
  margin-left: 15px;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete {
  width: 90px;
  justify-content: center;
}



/* RECIPE MODAL BELOW */

.recipe-modal {
  /* This way it could be display flex or grid or whatever also. */
  display: none;
  
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  height: 600px;
  max-height: 120%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  
  background: rgb(250, 225, 225);
  color: rgb(59, 31, 31) ;
  box-shadow: 0 0 70px 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;

}

.recipe-model.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  /* background: #c49b9d; */
  color: white;
  border-radius: 5px;
}

.closed {
  display: inline;
}

.recipe-modal #recipe-close-button {
  position: absolute;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  top: 10px;
  
  /* needs to look OK with or without scrollbar */
  right: 20px;
  border: 0;
  border-radius: 5px;
  background: rgb(109, 74, 74);
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.recipe-modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 55px 50px 40px 50px;
  /* background: #c49b9d; */
  border-radius: 5px;
}

h3 {
  margin-bottom: 10px;
}

h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

textarea {
  border: none;
  font-family: 'Didot';
}