/* hold for css styling */
/*card styling*/
body
{
    background: #cfd8dc;
   
}


.container
{
    font-family: 'Didot', serif;
    font-size: 20px;
    font-weight: regular;

    width: 400px;
    height: 550px;
    margin: 80px auto;

    border-radius: 10px;

    perspective: 1400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    /* position: relative;
    top: 38%;
    right: 29%; */

    float: center;
    margin: 2px;
    width: 95px;
    height: 95px;
}

.card
{
    position: relative;

    height:600px;

    border-radius: 10px;

    width: 400px;
    transform-style: preserve-3d;

    /* border: 2px solid #e7e7e7;
 
    border-radius: 4px;
 
    padding: .5rem; */
}


.front,
.back
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 400px;
    height: 600px;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front
{
    color: #ffff;
    background: #2196f3;
    
}

.back
{

    transform: rotateY(180deg);

    color: #c1abad;
    background: #fff;
}

.dropdown {
    background-color: rgb(184, 104, 160);
    color: white;
    padding: 1%;
    padding-top: 0px;
    border: none;
    text-align: center;
  }
  
  .dropdown>select, input {
    font-size: 15px;
    font-family: 'Didot', serif;
  }

  .auto-grid {
    --autogrid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(let(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    }
  